* {
    margin: 0%;
    padding: 0%;
}

/* navbar portion */
a {
    text-decoration: none;
}
h1{
    padding-bottom: 1.5%;
}

.firstsection {
    background-color: #FC4311;
    height: 12.5vh;
    display: flex;
    justify-content: center;
}

.maincontainer {
    position: relative;
    width: 80%;
    display: flex;
    flex-direction: row;
}

.firstcontainer {
    width: 30%;
    display: flex;
    justify-content: start;
    align-items: center;
    color: white;
}

.firstcontainer a {
    color: white;
    margin-left: 10%;
}

.secoundcontainer {
    margin-top: 0% !important;
    width: 70%;
    display: flex;
    align-items: center;
}

.secoundcontainer ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-left: 8em;
}

.secoundcontainer ul li {
    display: flex;


    width: auto;
    margin-right: 6%;

}

.secoundcontainer ul li a {
    color: white;
    font-size: 120%;

}

.secoundcontainer ul li.homeidentifier a {
    color: #000000;
}

.secoundcontainer ul li :hover {
    color: black;
}

.thirdcontainer {
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.thirdcontainer a {
    color: white;
    margin-left: 20%;
}

/* *************************************************Media Quries For Navbar */
@media (min-width:1290px) and (max-width:1740px) {
    .secoundcontainer ul li {
        margin-left: 5%;
    }
}

@media (min-width:1090px) and (max-width:1290px) {
    .secoundcontainer ul li {
        margin-left: 4%;
    }

    .secoundcontainer ul li a {
        font-size: 100%;
    }
}

@media (min-width:950px) and (max-width:1090px) {

    .secoundcontainer ul li {
        margin-left: 4%;
    }

    .secoundcontainer ul li a {
        font-size: 100%;
    }

    .thirdcontainer {
        display: none;
    }

    .secoundcontainer ul {

        margin-left: 5em;
    }
}

@media (min-width:620px) and (max-width:950px) {
    .firstcontainer {
        display: none;
        width: 0%;
    }

    .secoundcontainer {
        width: 70%;
        display: flex;
        align-items: center;
    }

    .secoundcontainer ul li {
        margin-left: 3%;
    }

    .secoundcontainer ul li a {
        font-size: 90%;
    }

    .thirdcontainer {
        display: none;
        width: 0%;
    }

    .contactwidth {
        width: auto;
    }

    .secoundcontainer ul {

        margin-left: 0em;
    }
}

@media (min-width:455px) and (max-width:620px) {
    .firstcontainer {
        display: none;
        width: 0%;
    }

    .secoundcontainer {
        width: 70%;
    }

    .secoundcontainer ul li a {
        font-size: 90%;
    }

    .thirdcontainer {
        display: none;
        width: 0%;
    }

    .contactwidth {
        width: 70px !important;
    }

    .secoundcontainer ul {
        margin-left: 0em;
    }
}

@media (min-width:435px) and (max-width:455px) {
    .firstcontainer {
        display: none;
        width: 0%;
    }

    .secoundcontainer {
        width: 100%;
        display: flex;
        align-items: start;
    }

    .secoundcontainer ul li a {
        font-size: 80%;
    }

    .thirdcontainer {
        display: none;
        width: 0%;
    }

    .contactwidth {
        width: 70px !important;
    }

    .secoundcontainer ul {

        margin-left: 0em;
    }
}

@media (min-width:280px) and (max-width:435px) {
    .firstcontainer {
        display: none;
        width: 0%;
    }

    .secoundcontainer {
        width: 100%;
        display: flex;
        align-items: start;
    }

    .secoundcontainer ul li a {
        font-size: 60%;
    }

    .thirdcontainer {
        display: none;
        width: 0%;
    }

    .contactwidth {
        width: 60px !important;
    }

    .secoundcontainer ul {

        margin-left: 0em;
    }
}

@media (min-width:250px) and (max-width:280px) {
    .firstcontainer {
        display: none;
        width: 0%;
    }

    .secoundcontainer {
        width: 100%;
        display: flex;
        align-items: start;
    }

    .secoundcontainer ul li a {
        font-size: 60%;
    }

    .thirdcontainer {
        display: none;
        width: 0%;
    }

    .contactwidth {
        width: 60px !important;
    }

    .firstsection {

        display: flex;
        justify-content: start;
    }

    .secoundcontainer ul {

        margin-left: 0em;
    }
}

/* homepage css for design */
.homepage {
    height: auto;
    position: relative;
    width: 100%;
    overflow: hidden;

}

.arrowdown {

    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    left: 47%;
    bottom: 8%;

}
.arrowdown a{
    width: 70px;
    height: 70px;
   top: 0%;
 

}

.arrowdown img {
    width: 100%;
    z-index: 2;

}

.arrowlefthomeimg a i {
    font-size: 1.5em;
}

.arrowlefthomeimg {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: white;
    top: 40% !important;
    left: -25px;
    width: 70px;
    height: 70px;
    border-radius: 35px;
}

.arrowlefthomeimg:hover {
    background-color: #FC4311;
}

.arrowlefthomeimg:hover .arrowlefthomeimglink {
    color: white !important;
}

.arrowrighthomeimg {

    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 40%;
    width: 70px;
    height: 70px;
    right: -25px;
    background-color: white;
    border-radius: 35px;
}

.arrowrighthomeimg:hover {
    background-color: #FC4311;
}

.arrowrighthomeimg:hover .arrowlefthomeimglink2 {
    color: white !important;
}

.arrowrighthomeimg a i {

    font-size: 1.5em;
}

.homecontainer {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 60%;
    top: 25%;
    left: 20%;
    color: white;

}

.homeheading {

    font-size: 250%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;

}

.homeparagraph {
    width: 100%;
    padding: 3% 0% 3% 0%;

}

.homeparagraph p {
    text-align: center;
    padding: 1%;
    font-family: Arial, Helvetica, sans-serif;
}

.homebutton button {
    padding: 1em 2.5em 1em 2.5em;
    background-color: #FC4311;
    color: white;
    border: 0px solid white;
    font-size: 110%;
    transition: 1s ease-in-out;
}

.homebutton button:hover {
    border-radius: 2rem;
    background-color: white;
    color: #FC4311;
}


@media (min-width:1071px) and (max-width:1250px) {


    .uniquediv {
        height: 10vh;
    }

}

@media (min-width:796px) and (max-width:1071px) {
    .homecontainer {
        top: 20%;
    }

    .homeheading {

        font-size: 100%;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    }



}

@media (min-width:400px) and (max-width:796px) {
    .homecontainer {
        top: 15%;
    }

    .homeheading {

        font-size: 120%;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    }

    .homeparagraph {

        display: none;
        width: 0%;
        padding: 0%;

    }

    .homebutton button {
        margin-top: 10%;
        padding: 0.25em 1em 0.25em 1em;
        background-color: #FC4311;
        color: white;
        font-size: 100%;
    }
    .arrowdown {

        display: flex;
        justify-content: center;
        align-items: flex-end;
        position: absolute;
        left: 47%;
        bottom: 8%;
    
    }


}
@media (min-width:550px) and (max-width:750px) {

    .arrowdown {

        bottom: 10%;
    
    }


}
@media (min-width:424px) and (max-width:550px) {

    .arrowdown {

        bottom: 12%;
    
    }

}
@media (min-width:400px) and (max-width:424px) {

    .arrowdown {

        bottom: 15%;
    
    }

}
@media (min-width:350px) and (max-width:400px) {

    .arrowdown {

        bottom: 17% !important;
    
    }

}

@media (min-width:330px) and (max-width:400px) {
    .homecontainer {
        top: 10%;
    }

    .homeheading {

        font-size: 70%;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    }

    .homebutton button {
        margin-top: 10%;
        padding: 0.15em;
        background-color: #FC4311;
        color: white;
        font-size: 60%;
    }

    .homeparagraph {

        display: none;
        width: 0%;
        padding: 0%;

    }
}

@media (min-width:250px) and (max-width:330px) {
    .homecontainer {
        top: 5%;
    }

    .homeheading {

        font-size: 60%;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    }

    .homebutton button {
        margin-top: 10%;
        padding: 0.75em 1em 0.75em 1em !important;
        background-color: #FC4311;
        color: white;
        font-size: 0%;
    }

    .homeparagraph {

        display: none;
        width: 0%;
        padding: 0%;

    }
}

/* ********************************************************************About section */
.aboutcontainer {
    padding-top: 2%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutfirstcotainer {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.aboutfirstcotainerheading {
    display: flex;
    justify-content: center;
    padding-bottom: 1%;

}

.aboutfirstcotainerheading h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 200%;
    border-bottom: 1px solid red;
}

.aboutfirstcotainerparagrapph {
    text-align: center;
    padding:  4%;
    font-family: Arial, Helvetica, sans-serif;

}

.secoundcontainer {
    margin-top: 2%;
    width: 100%;
}

.secoundcontainertext {
  
    width: 100%;
    height: auto;

    
   
}
.secoundcontainertextadj{

    text-align: left;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.secoundcontainertextadjinner{
    width: 80%;
    padding-bottom: 2%;
    margin-left: 10%;
}

.secoundcontainertextheading {
    padding-top: 2%;
    padding-bottom: 6%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;

}

.secoundcontainertextparagraph {
    font-family: Arial, Helvetica, sans-serif;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    font-stretch: ultra-expanded;
    padding-top: 2%;
    line-height: 150%;
}

.secoundcontainerimg {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 28.563em;
    display: flex;
    justify-content: start;


}

.secoundcontainerimg img {

    width: 95%;


}

.homebutton button {
    padding: 1em 2.5em 1em 2.5em;
    background-color: #FC4311;
    color: white;
    border: 0px solid white;
    font-size: 110%;
    transition: 1s ease-in-out;
}

.homebutton button:hover {
    border-radius: 2rem;
    background-color: white;
    color: #FC4311;
}

.aboutbutton button {
    padding: 1em 2.5em 1em 2.5em;
    background-color: #000000;
    color: white;
    border: 0px solid white;
    font-size: 110%;
    transition: 1s ease-in-out;
    margin-top: 25%;

}

.aboutbutton button:hover {
    border-radius: 2rem;
    background-color: #FC4311;
}



@media (min-width:1012px) and (max-width:1200px) {
    .secoundcontainertextadj{

        text-align: left;
        margin-left: 0%;
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }


    .secoundcontainerimg {
        width: 100%;
        display: flex;
        justify-content: center;
    
    }
    
    .secoundcontainerimg img {
    
        width: 98%;
    
    
    }

}

@media (min-width:620px) and (max-width:1012px) {
    .aboutfirstcotainerparagrapph {
        text-align: center;
        padding: 2% 2% 2% 0%;
        font-family: Arial, Helvetica, sans-serif;
    
    }

    .secoundcontainer {
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;

    }
    .secoundcontainertextadj{

        text-align: left;
        margin-left: 0%;
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }
    .secoundcontainertextadjinner{
        width: 90%;
        padding-bottom: 2%;
        margin-left: 0%;
    }




    .secoundcontainerimg {
        width: 100%;
        display: flex;
        justify-content: center;
    
    }
    
    .secoundcontainerimg img {
    
        width: 98%;
    }
    .aboutfirstcotainer {
        width: 90%;
        display: flex;
        flex-direction: column;
    }


}
@media (min-width:557px) and (max-width:620px){
    .aboutfirstcotainerparagrapph {
        text-align: center;
        padding: 2% 2% 2% 0%;
        font-family: Arial, Helvetica, sans-serif;
    
    }
    .secoundcontainer {
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;

    }
    .secoundcontainertextadj{

        text-align: left;
        margin-left: 0%;
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }
    .secoundcontainertextadjinner{
        width: 90%;
        padding-bottom: 2%;
        margin-left: 0%;
    }


    .secoundcontainerimg {
        width: 90%;
        display: flex;
        justify-content: center;
    
    }
    .secoundcontainerimg img {
    
        width: 98%;
    }
    .aboutfirstcotainer {
        width: 90%;
        display: flex;
        flex-direction: column;
    }

}



@media (min-width:250px) and (max-width:557px) {
    .aboutfirstcotainerparagrapph {
        text-align: center;
        padding: 2% 2% 2% 0%;
        font-family: Arial, Helvetica, sans-serif;
    
    }

    .secoundcontainer {
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;

    }

    .secoundcontainertextadj{

        text-align: left;
        margin-left: 0%;
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }
    .secoundcontainertextadjinner{
        width: 90%;
        padding-bottom: 2%;
        margin-left: 0%;
    }

    .secoundcontainerimg {

        height: auto;


    }
    .secoundcontainerimg {
        width: 90%;
        display: flex;
        justify-content: center;
    
    }
    .secoundcontainerimg img {
    
        width: 98%;
    }
    .aboutfirstcotainer {
        width: 90%;
        display: flex;
        flex-direction: column;
    }


}

/* <!-- ------------------------------------------------------Screenshot section --> */
.Screenshotcontainer {
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.firstScreenshotcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.firstScreenshotcontainerheading {
    font-size: 120%;
    padding: 2%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.firstScreenshotcontainerheading h2 {
    border-bottom: 1px solid red;
}

.firstScreenshotcontainertext {

    text-align: center;
    width: 80%;
    padding: 2% 0% 4% 0%;
    font-family: Arial, Helvetica, sans-serif;
}
.firstScreenshotcontainertext p{
    margin-left: 3%;
    padding: 0%;
    width: 100%;
}

.secoundScreenshotcontainer {
    margin-top: 2%;
    width: 100%;
    display: flex;
    justify-content: center;


}
.secoundScreenshotcontaineradj{
    position: relative;
    width: 80%;
    display: flex;
    justify-content: center;

}

.secoundScreenshotcontainer img {
    width: 70%;
}

.secoundScreenshotcontainerleftscroll {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: black;
    width: 55px;
    height: 55px;
    top: 40%;
    left: 0%;
}

.secoundScreenshotcontainerleftscroll:hover {
    background-color: #FC4311;
}

.secoundScreenshotcontainerleftscroll i {
    color: white;

}

.secoundScreenshotcontainerrightscroll {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: black;
    width: 55px;
    height: 55px;
    top: 40%;
    right: 0%;


}

.secoundScreenshotcontainerrightscroll:hover {
    background-color: #FC4311;
}

.secoundScreenshotcontainerrightscroll i {
    color: white;

}

.Screenshotbutton button {
    padding: 1em 2.5em 1em 2.5em;
    background-color: #000000;
    color: white;
    border: 0px solid white;
    font-size: 110%;
    transition: 1s ease-in-out;
    margin-top: 10%;
}

.Screenshotbutton button:hover {
    border-radius: 2rem;
    background-color: #FC4311;
}

@media (min-width:600px) and (max-width:1000px) {

    .secoundScreenshotcontainer img {
        width: 100%;
    }
    .firstScreenshotcontainertext p{
        margin-left: 0%;
      
    }
    

}

@media (min-width:400px) and (max-width:600px) {

    .secoundScreenshotcontainer img {
        width: 100%;
    }
    .secoundScreenshotcontainerleftscroll {

        width: 35px;
        height: 35px;
    }

    .secoundScreenshotcontainerrightscroll {
        width: 35px;
        height: 35px;
    }
    .firstScreenshotcontainertext p{
        margin-left: 0%;
      
    }
}

@media (min-width:250px) and (max-width:400px) {


    .secoundScreenshotcontainerleftscroll {

        width: 35px;
        height: 35px;
    }

    .secoundScreenshotcontainerrightscroll {
        width: 35px;
        height: 35px;
    }
    .firstScreenshotcontainertext p{
        margin-left: 0%;
      
    }
}

/* <!-- ------------------------portion for the Services --> */
.servicesseaction {
    margin-top: 5%;


}

.servicefirstcontainer {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2%;
}
.servicefirstcontaineradj{
    width: 100%;
    display: flex;
    justify-content: center;
}

.servicefirstcontainerheading {
    margin-top: 3%;
    margin-bottom: 2%;
}

.servicefirstcontainerheading h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FC4311;
    border-bottom: 1px solid #FC4311;
    font-size: 350%;
}

.servicefirstcontainerparagraph {
    width: 80%;
    text-align: center;
    line-height: 150%;
    font-family: Arial, Helvetica, sans-serif;
}

.servicesseactionimg {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.servicesseactionfirstlineimg {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2%;
}

.servicesseactionsecoundlineimg {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2%;

}

.imagesservice {
    width: 32.2%;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
}

.imagesservice img {
    width: 100%;
}

.imagesservicetexted {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #FC4311;
    font-size: 120%;
    padding: 2%;
    font-family: Arial, Helvetica, sans-serif;
    transition: 1s;
}

.imagesservicetexted a {
    color: #FC4311;
}

.boderend {
    padding: 2%;
    transition: 2s;
}

.imagesservicetexted:hover {
    background-color: #FC4311;
    opacity: 0.65;

}

.imagesservicetexted:hover .imagesservicetexthover {
    color: white;

}

.imagesservicetexted:hover .boderend {
    border: 2px solid white;

}

@media (min-width:250px) and (max-width:800px) {
    .servicesseactionimg {
        display: flex;
        justify-content: center;
        align-items: center;

        flex-direction: column;

    }

    .servicesseactionfirstlineimg {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .servicesseactionsecoundlineimg {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


    }

    .imagesservice {

        width: 100%;
        height: auto;
        margin-top: 4%;
    }

}


/* <!-------------------------------- Blog section --> */
.blogsection {
    margin-top: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.blogsectioncontainer {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top: 3%;

}

.blogsectioncontainer2 {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top: 5%;

}

.blogsectioncontainerfirst {
    width: 48%;
  
  
}

.blogsectioncontainerfirst img {
    width: 100%;
}

.blogsectioncontainerfirst h1 {
    margin-top: 2%;
    margin-bottom: 2%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.blogsectioncontainerfirst p {
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
}

.contapropreryblogsection {
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.contapropreryblogsectionfirst {
    color: #FC4311;
}

.contapropreryblogsectionsecound {
    font-family: Arial, Helvetica, sans-serif;

}

.blogsectioncontainerfirstimg {
    position: relative;
}

.blogsectioncontainerfirstdate {
    position: absolute;
    background-color: #FC4311;
    top: 0%;
    color: white;
    padding: 1% 3% 1% 3%;

}

@media (min-width:800px) and (max-width:950px) {
    .blogsectioncontainerfirst p{
    
        font-size: 13px;
    }
}

@media (min-width:250px) and (max-width:800px) {
    .blogsectioncontainer {
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        margin-top: 3%;

    }
    .blogsectioncontainerfirst {
        width: 100%;
      
      
    }

    .blogsectioncontainer2 {
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        margin-top: 10%;
    }
    .blogsectionadj{
        margin-top: 10%;
    }
    .blogsectioncontainerfirstdate {
        position: absolute;
        background-color: #FC4311;
        top: 0%;
        color: white;
        padding: 1% 9% 1% 9%;
    
    }
    .blogsectioncontainerfirst p {
        font-size: 12px;
        line-height: 30px;
        font-weight: 300;
        font-family: Arial, Helvetica, sans-serif;
    }

  
}


/* <!-- contact us ------------------------portion --> */
.contactussection {
    background-color: #2F2E2E;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    padding-bottom: 5%;
    padding-top: 5%;
}

.contactusfirstcontainerheading {
    font-size: 200%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
}

.contactussecoundcontainer {

    display: flex;
    justify-content: center;

}

.contactusformcontainer {
    width: 40%;
    background-color: white;

}

.contactusformcontainer form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
}

.contactusformcontainer form input {
    padding: 3%;
    margin-top: 4%;
    border: 1px solid grey;
}

.contactusformcontainer form input:focus {
    outline: none;
}

.contactusformcontainer form textarea {
    padding: 3%;
    margin-top: 4%;
    border: 1px solid grey;
}

.contactusformcontainer form textarea:placeholder-shown {
    font-family: Arial, Helvetica, sans-serif;
}

.contactusformcontainer form textarea:focus {
    outline: none;
}

.contactusformcontainerbuttondiv {
    display: flex;
    justify-content: center;
    margin-top: 8%;
}

.contactusformcontainerbutton {
    color: white;
    font-size: 120%;
    padding: 3% 12% 3% 12%;
    background-color: black;
    border: 0px;
    transition: 2s;
}

.contactusformcontainerbutton:hover {
    background-color: #FC4311;
    border-radius: 2rem;
}


@media (min-width:500px) and (max-width:818px) {
    .contactusformcontainer {
        width: 50%;


    }


}

@media (min-width:250px) and (max-width:500px) {
    .contactusformcontainer {
        width: 60%;
        background-color: white;

    }

    .contactusfirstcontainerheading {
        font-size: 150%;

    }

}

/* ******************************Footer section last one  */
.footersection {
    background-color: #FC4311;
    padding-top: 3%;
    display: flex;
    justify-content: center;
    padding-bottom: 3%;
}

.mainfootermain {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.footersectionmaincontainer {
    width: 13%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5%;
}

.footersectionmaincontainerfirst {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.footersectionmaincontainerfirsticon {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10%;
}

.footersectionmaincontainerfirsticonfb {
    width: 90%;
}

.footersectionmaincontainerfirstemail {
    margin-top: 10%;
}

.footersectionmaincontainerfirstemail input {
    padding: 5%;
    border: 1px solid grey;
}

.footersectionmaincontainerfirstemail input:focus {
    outline: none;
}

.footersectionmaincontainerfirstbutton {
    margin-top: 5%;
}

.footersectionmaincontainerfirstbutton button {
    padding: 4% 11% 4% 11%;
    background-color: #000000;
    color: #FC4311;
    font-size: 120%;
    border: 0px;
}

.footersectionmaincontainerfirstbutton button:hover {
    background-color: white;
}

@media (min-width:900px) and (max-width:1150px) {
    .mainfootermain {
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .footersectionmaincontainer {
        margin-left: 0% !important;
    }


}

@media (min-width:250px) and (max-width:900px) {
    .mainfootermain {

        display: flex;
        flex-direction: column;
        align-items: flex-start;



    }

    .footersectionmaincontainer {
        margin-top: 5%;
        display: flex;
        align-items: flex-start;
        width: 40%;
    }

    .footersectionmaincontainerfirstemail input {
        width: 120%;

    }
}

@media (min-width:250px) and (max-width:464px) {
    .mainfootermain {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

    }

    .footersectionmaincontainer {
        display: flex;
        align-items: flex-start;
        margin-top: 5%;
        width: 30%;
    }

    .footersectionmaincontainerfirstemail input {
        width: 120%;

    }

}

/*********** copy right div section */

.copyright {
    padding-top: 1%;
    display: flex;
    justify-content: center;
    padding-bottom: 2%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.copyright p {
    text-align: center;

}