*{
    margin: 0%;
    padding: 0%;
}
.navver{

    background-color: #146e6e;
    height: 100vh;
    display: flex;
    flex-direction: row;

}
.navbar{
    position: fixed;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10%;
    height: 100vh;
    transition: 3s;
   
}
.navbar:hover{
    transform: scale(1);
}
.navbarimg{
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
   padding: 15% 5% 0% 5% ;
 
 

}
.navbarimg a{
    text-decoration: none;
    color: black;
    font-family: 'Merriweather', serif;
    font-size: 80%;
    transition: 1s;
    
}
.navbarimg a:hover{
    color: red;
    border-radius: 50rem;
    transform: scale(1.05);
   

}
.navitems{
    height: 40vh;

}
.navul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.navul li{
    margin-top: 5vh;
    transition: 1s;
   

}
.navul li:hover{
    border-radius: 50rem;
    background-color: black;
    height: 10%;
    transform: scale(1.2);
   

}
.navul a{
    text-decoration: none;
    color: black;    
}
.navul a:hover{
 
    color: white;    
}
.navicons{
    width: 18vh;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 15% 5% 0% 5% ;
 
}
.navicons a{
    text-decoration: none;
    background-color: white;
    border-radius: 50%;
    background-color: #FFE4C4;
    overflow: hidden;
    height: 2rem;
    width: 1.7rem;
    background-color: #146E6E;
}
.navicons i{
    background-color: #FFE4C4;
    color:#146E6E ;
    font-size: 2em;
    width: 100%;
    border-radius: 0%;
    transition: 0.5s;

}
.navicons :hover{
    transform: scale(1.1);
 
}
.navicons a i:hover{
  color: #FFE4C4;
  background-color: #146E6E;


}
.navicons a:hover{
    transform: scale(1.5);
   
    
}
#iconone{

display: flex;
justify-content: center;
    

}
.welcome{
    margin-left: 10%;
    height: 100vh;
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url(../photos/backimg.jpg);
    background-repeat: no-repeat;
    background-size: 115%;

   



}
.welcome h2{
    color: red;
    font-size: 1000%;
    transition: 2.5s;
}
.welcome h2:hover{
    transform: scale(0.5);
}
.data{
    width: 90%;
    margin-left: 10%;



    
}
.data p{
    padding: 1% ;

}