*{
    margin: 0%;
    padding: 0%;
}
/* navbar portion */
a{
    text-decoration: none;
}
.firstsection{
    background-color: #FC4311;
    height: 12.5vh;
    display: flex;
    justify-content: center;
}
.maincontainer{
    position: relative;
    width: 80%;
    display: flex;
    flex-direction: row;
}
.firstcontainer{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.firstcontainer a{
    color: white;
}
.secoundcontainer{
    margin-top: 0% !important;
    width: 70%;
    display: flex;
    align-items: center;
}
.secoundcontainer ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-left: 8em;
}
.secoundcontainer ul li{
    display: flex;
 

    width: auto;
    margin-right: 6%;

}
.secoundcontainer ul li a{
    color: white;
    font-size: 120%;
  
}
.secoundcontainer ul li.homeidentifier a{
    color: #000000;
}
.secoundcontainer ul li :hover{
    color:black;
}
.thirdcontainer{
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.thirdcontainer a{
    color: white;
    margin-left: 20%;
}
/* *************************************************Media Quries For Navbar */
@media (min-width:1290px) and (max-width:1740px) {
    .secoundcontainer ul li{
        margin-left: 5%;
    }
}

@media (min-width:1090px) and (max-width:1290px) {
    .secoundcontainer ul li{
        margin-left: 4%;
    }
    .secoundcontainer ul li a{
        font-size: 100%;
    }
}

@media (min-width:800px) and (max-width:1090px) {

    .secoundcontainer ul li{
        margin-left: 4%;
    }
    .secoundcontainer ul li a{
        font-size: 100%;
    }
    .thirdcontainer{
        display: none;
    }
    .secoundcontainer ul{

        margin-left: 5em;
    }
}

@media (min-width:620px) and (max-width:800px) {
    .firstcontainer{
        display: none;
        width: 0%;
    }
    .secoundcontainer{
        width: 70%;   
        display: flex;
        align-items: center;
    }
    .secoundcontainer ul li{
        margin-left: 3%;
    }
    .secoundcontainer ul li a{
        font-size: 90%;
    }
    .thirdcontainer{
        display: none;
        width: 0%;  
    }
    .contactwidth{
        width: auto;
    }
    .secoundcontainer ul{

        margin-left: 0em;
    }
}

@media (min-width:455px) and (max-width:620px) {
    .firstcontainer{
        display: none;
        width: 0%;
    }
    .secoundcontainer{
        width: 70%;   
    }

    .secoundcontainer ul li a{
        font-size: 90%;
    }
    .thirdcontainer{
        display: none;
        width: 0%;  
    }
    .contactwidth{
        width: 70px !important;
    }
    .secoundcontainer ul{
        margin-left: 0em;
    }
}

@media (min-width:369px) and (max-width:455px) {
    .firstcontainer{
        display: none;
        width: 0%;
    }
    .secoundcontainer{
        width: 100%;   
        display: flex; 
        align-items: start;  
    }

    .secoundcontainer ul li a{
        font-size: 80%;
    }
    .thirdcontainer{
        display: none;
        width: 0%;  
    }
    .contactwidth{
        width: 70px !important;
    }
    .secoundcontainer ul{

        margin-left: 0em;
    }
}

@media (min-width:280px) and (max-width:369px) {
    .firstcontainer{
        display: none;
        width: 0%;
    }
    .secoundcontainer{
        width: 100%;  
        display: flex; 
        align-items: start;   
    }

    .secoundcontainer ul li a{
        font-size: 60%;
    }
    .thirdcontainer{
        display: none;
        width: 0%;  
    }
    .contactwidth{
        width: 60px !important;
    }
    .secoundcontainer ul{

        margin-left: 0em;
    }
}
@media (min-width:250px) and (max-width:280px) {
    .firstcontainer{
        display: none;
        width: 0%;
    }
    .secoundcontainer{
        width: 100%;
        display: flex; 
        align-items: start;  
    }

    .secoundcontainer ul li a{
        font-size: 60%;
    }
    .thirdcontainer{
        display: none;
        width: 0%;  
    }
    .contactwidth{
        width: 60px !important;
    }
    .firstsection{

        display: flex;
        justify-content: start;
    }
    .secoundcontainer ul{

        margin-left: 0em;
    }
}
/* homepage css for design */
.homepage{
    height: auto;
    position: relative;
}
.homecontainer{
    position: absolute;
    display: flex;
   
    align-items: center;
    flex-direction: column;
    width: 60%;
    top: 40%;
    left: 20%;
    color: white;

}
.homeheading{

    font-size: 250%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;

}
.homeparagraph{
    width: 100%;
  padding: 3% 0% 3% 0%;

}
.homeparagraph p{
    text-align: center;
    padding: 1%;
    font-family: Arial, Helvetica, sans-serif;
}
.homebutton button{
   padding: 1em 2.5em 1em 2.5em;
   background-color: #FC4311;
   color: white;
   border: 0px solid white;
   font-size: 110%;
   transition: 1s ease-in-out;
}
.homebutton button:hover{
    border-radius: 2rem;
    background-color: white;
    color: #FC4311;
}

@media (min-width:661px) and (max-width:1071px) {
    .homecontainer{
        top: 20%;
    }
    .homeheading{

        font-size: 100%;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    }

}
@media (min-width:250px) and (max-width:661px) {
    .homecontainer{
        top: 15%;
    }
    .homeheading{

        font-size: 120%;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    }
    .homeparagraph{
     
        display: none;
        width: 0%;
        padding: 0%;
        
    }
    .homebutton button{
        margin-top: 10%;
        padding: 0.25em 1em 0.25em 1em;
        background-color: #FC4311;
        color: white;
        font-size: 100%;
     }
}
     .arrowdown img{
        z-index: 2;
        position: absolute;
        left: 48%;
        top: 94%;
        width: 5%;
}
@media (min-width:230px) and (max-width:364px){
    .homeheading{

        font-size: 80%;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    }
    .homebutton button{
        margin-top: 10%;
        padding: 0.25em ;
        background-color: #FC4311;
        color: white;
        font-size: 80%;
     }

}
@media (min-width:250px) and (max-width:334px){
    .homebutton button{
        margin-top: 10%;
        padding: 0.7em !important ;
        background-color: #FC4311;
        color: white;
        font-size: 50%;
     }

}

/* ********************************************************************About section */
.aboutcontainer{
    padding-top: 5%;
    height: auto;
    display: flex;

    flex-direction: column;
    align-items: center;
}
.aboutfirstcotainer{
    width:60%;
    display: flex;
    flex-direction: column;
}
.aboutfirstcotainerheading{
    display: flex;
    justify-content: center;
    padding-bottom: 1%;

}
.aboutfirstcotainerheading h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 200%;
    border-bottom: 1px solid red;
}
.aboutfirstcotainerparagrapph{
    text-align: center;
    padding: 2%;
    font-family: Arial, Helvetica, sans-serif;
    
}
.secoundcontainer{
    margin-top: 2%;
    width: 100%;
}
.secoundcontainertext{
    margin-left: 9.5%;
    width: 30em;
    height: 27.563em;
    padding: 2%;
}
.secoundcontainertextheading{
    padding-top: 2%;
    padding-bottom: 6%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;

}
.secoundcontainertextparagraph{
    font-family: Arial, Helvetica, sans-serif;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    font-stretch: ultra-expanded;
    padding-top: 2%;
    line-height: 150%;
}

.secoundcontainerimg{
    width:auto;
    overflow: hidden;
    position: relative;
    height: 27.563em;

   
}
.secoundcontainerimg img{

    width: 100%;


}
.homebutton button{
    padding: 1em 2.5em 1em 2.5em;
    background-color: #FC4311;
    color: white;
    border: 0px solid white;
    font-size: 110%;
    transition: 1s ease-in-out;
 }
 .homebutton button:hover{
     border-radius: 2rem;
     background-color: white;
     color: #FC4311;
 }
.aboutbutton button{
    padding: 1em 2.5em 1em 2.5em;
    background-color: #000000;
    color: white;
    border: 0px solid white;
    font-size: 110%;
    transition: 1s ease-in-out;
    margin-top: 25%;

 }
 .aboutbutton button:hover{
     border-radius: 2rem;
     background-color: #FC4311;
 }



@media (min-width:1012px) and (max-width:1160px) {
    .secoundcontainertext{
        margin-left: 5.5%;
        width: 30%;
        height: 27.563em;
        padding: 2%;
    }
    .secoundcontainertextheading{

        font-size: 90%;
    
    }
    .secoundcontainertextparagraph{
        font-size: 100%;
        font-stretch: normal !important;
        padding-top: 2%;
        line-height: 120%;
    }
    
}

@media (min-width:620px) and (max-width:1012px) {

    .secoundcontainer{
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;

    }
    .secoundcontainertext{
        width: 70%;
        margin-left: 0%;
        text-align: center;
        height: auto;
        padding-bottom: 3%;

    }
    .aboutfirstcotainerheading h1{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 80%;
        border-bottom: 1px solid red;
    }
    
}
@media (min-width:250px) and (max-width:620px){
    .secoundcontainertext{
        margin-left: 9.5%;
        width: 30em;
        height: auto !important;
        padding: 2%;
    }
    .secoundcontainer{
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;

    }
    .secoundcontainertext{
        width: 70%;
        margin-left: 0%;
        text-align: center;

    }
    .aboutfirstcotainerheading h1{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 80%;
        border-bottom: 1px solid red;
    }
    .secoundcontainerimg{

        height: auto;
    
       
    }

}

/* <!-- ------------------------------------------------------Screenshot section --> */
.Screenshotcontainer{
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.firstScreenshotcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.firstScreenshotcontainerheading{
    font-size: 120%;
    padding: 2%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.firstScreenshotcontainerheading h2{
    border-bottom: 1px solid red;
}
.firstScreenshotcontainertext{
    font-size: 110%;
    text-align: center;
    width: 80%;
    line-height: 150%;
    padding:1%;
    font-family: Arial, Helvetica, sans-serif;
}
.secoundScreenshotcontainer{
    margin-top: 2%;
    position: relative;
    width: 70%;
    display: flex;
    justify-content: center;
}
.secoundScreenshotcontainer img{
    width: 100%;
}
.secoundScreenshotcontainerleftscroll{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: black;
    width: 55px;
    height: 55px;
    top: 40%;
    left: 0%;
}
.secoundScreenshotcontainerleftscroll:hover{
    background-color: #FC4311;
}
.secoundScreenshotcontainerleftscroll i{
    color: white;
  
}
.secoundScreenshotcontainerrightscroll{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: black;
    width: 55px;
    height: 55px;
    top: 40%;
    right: 0%;


}
.secoundScreenshotcontainerrightscroll:hover{
    background-color: #FC4311;
}
.secoundScreenshotcontainerrightscroll i{
    color: white;

}
.Screenshotbutton button{
    padding: 1em 2.5em 1em 2.5em;
    background-color: #000000;
    color: white;
    border: 0px solid white;
    font-size: 110%;
    transition: 1s ease-in-out;
    margin-top: 10%;
 }
 .Screenshotbutton button:hover{
     border-radius: 2rem;
     background-color: #FC4311;
 }

@media (min-width:600px) and (max-width:858px) {
    .secoundScreenshotcontainer img{
        width: 70%;
    }
    
}
@media (min-width:400px) and (max-width:600px) {
    .secoundScreenshotcontainer img{
        width: 70%;
    }
    

.secoundScreenshotcontainerleftscroll{

    width: 35px;
    height: 35px;
}
.secoundScreenshotcontainerrightscroll{
    width: 35px;
    height: 35px;
}
}
@media (min-width:250px) and (max-width:400px) {
    .secoundScreenshotcontainer img{
        width: 70%;
    }
    

.secoundScreenshotcontainerleftscroll{

    width: 35px;
    height: 35px;
}
.secoundScreenshotcontainerrightscroll{
    width: 35px;
    height: 35px;
}
}

/* <!-- ------------------------portion for the Services --> */
.servicesseaction{
    margin-top: 5%;

}
.servicefirstcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.servicefirstcontainerheading{
    margin-top: 3%;
    margin-bottom: 2%;
}
.servicefirstcontainerheading h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FC4311;
    border-bottom: 1px solid #FC4311;
    font-size: 350%;
}
.servicefirstcontainerparagraph{
    width:60% ;
    text-align: center;
    line-height: 150%;
    font-family: Arial, Helvetica, sans-serif;
}
.servicesseactionimg{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.servicesseactionfirstlineimg{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2%;
}
.servicesseactionsecoundlineimg{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2%;

}
.imagesservice{
    width: 30%;
    border-radius: 2rem;
    overflow: hidden;
    position: relative;
}
.imagesservice img{
    width: 100%;
}

.imagesservicetexted{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #FC4311;
    font-size: 120%;
    /* border: 1px solid black; */
    padding: 2%;
    font-family: Arial, Helvetica, sans-serif;
}
.imagesservicetexted a{
    color: #FC4311;


}
.boderend{
    padding: 2%;
}
.imagesservicetexted:hover {
    background-color: #FC4311;
    opacity: 0.65;

}
.imagesservicetexted:hover .imagesservicetexthover{
    color: white;

}
.imagesservicetexted:hover .boderend{
    border: 2px solid white;
}

@media (min-width:250px) and (max-width:800px) {
    .servicesseactionimg{
        display: flex;
        justify-content: center;
        align-items: center;

        flex-direction: column;

    }
    .servicesseactionfirstlineimg{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .servicesseactionsecoundlineimg{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    
    }
    .imagesservice{
        padding-top: 1%;
        padding-bottom: 1%;
        width: 80%;
        height: auto;
    }

}


/* <!-------------------------------- Blog section --> */
.blogsection{
    margin-top: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.blogsectioncontainer{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top: 3%;

}
  .blogsectioncontainer2{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top: 1%;

  }
.blogsectioncontainerfirst{
    width: 48%;
    margin: 2%;
}
.blogsectioncontainerfirst img{
    width: 100%;
}
.blogsectioncontainerfirst h1{
    margin-top: 2%;
    margin-bottom: 2%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.blogsectioncontainerfirst p{
    line-height: 150%;
    font-family: Arial, Helvetica, sans-serif;
}
.contapropreryblogsection{
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
.contapropreryblogsectionfirst{
    color: #FC4311;
}
.contapropreryblogsectionsecound{
    font-family: Arial, Helvetica, sans-serif;

}
.blogsectioncontainerfirstimg{
    position: relative;
}
.blogsectioncontainerfirstdate{
    position: absolute;
    background-color: #FC4311;
    top: 0%;
    color: white;
    padding: 2% 3% 2% 2%;

}
@media (min-width:800px) and (max-width:900px) {
    .contapropreryblogsection{
        margin-top: 2%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }
    .contapropreryblogsectionfirst{
        width: 100%;
        text-align: start;
    }
    .contapropreryblogsectionsecound{
        text-align: end;
        width: 100%;
    }

}
@media (min-width:250px) and (max-width:800px) {
    .blogsectioncontainer{
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        margin-top: 3%;
    
    }
    .blogsectioncontainer2{
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        margin-top: 3%;
    }
    .contapropreryblogsection{
        margin-top: 2%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }
    .contapropreryblogsectionfirst{
        width: 100%;
        text-align: start;
    }
    .contapropreryblogsectionsecound{
        text-align: end;
        width: 100%;
    }
    .blogsectioncontainerfirstdate{
        position: absolute;
        background-color: #FC4311;
        top: 0%;
        color: white;
        padding: 1% 2% 1% 1%;
    
    }


}
